<% content_for :title do %>Data Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity-cellar" data-view="Meter" data-title="Humidity Cellar" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature-cellar" data-view="Number" data-title="Temperature Cellar" data-height="200" data-width="200" data-suffix="°C"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="humidity-ground-floor" data-view="Meter" data-title="Humidity Ground Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temperature-ground-floor" data-view="Number" data-title="Temperature Ground Floor" data-height="200" data-width="200" data-suffix="°C"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="humidity-first-floor" data-view="Meter" data-title="Humidity First Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="temperature-first-floor" data-view="Number" data-title="Temperature First Floor" data-height="200" data-width="200" data-suffix="°C"></div>
    </li>
  </ul>
</div>
