<% content_for :title do %>Data Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity-cellar" data-view="Meter" data-title="Humidity Cellar" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature-cellar" data-view="Meter" data-title="Temperature Cellar" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="°C"div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity-ground-floor" data-view="Meter" data-title="Humidity Ground Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature-first-floor" data-view="Meter" data-title="Temperature First Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="°C"div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity-first-floor" data-view="Meter" data-title="Humidity First Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature-second-floor" data-view="Meter" data-title="Temperature Second Floor" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="°C"div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="last-transmission-time" data-view="Number" data-title="Last Transmission Time" data-moreinfo="" data-prefix=""></div>
    </li>
  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>
